
SPECIFICATIONS AND REQUIREMENTS

Security - Secure authentication, protection against vulnerabilities (XSS, SQL injection, CSRF, limitations).
Accessibility - Compliance with WCAG web accessibility standards.
SEO - Apply best practices to maximize project search engine optimization.
Optimization - Optimize images and other files, reduce requests, server usage and database usage.
Tests - Test project's main features.
Legality - Include legal pages.
Responsive - Mobile app must be easy to use.
Deployment - Write at least a deployment procedure (maybe CI/CD).