/* General Reset */
@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Meow+Script&family=Princess+Sofia&family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Mansalva&family=Slackside+One&family=Sue+Ellen+Francisco&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body Styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header Styling */
.main_header {
  background-color: #23232c;
  padding-inline: 1rem;
}

.main_header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main_header nav a {
  text-decoration: none;
  margin-left: 0.75rem;
  padding-block: 1rem;
}

.main_header nav a:first-child {
  margin-right: auto; /* Pushes the first <a> to the start */
  margin-left: none;
}

.main_header nav a:last-child {
  margin-right: 1rem; /* Pushes the first <a> to the start */
}

.main_header nav a div {
  display: flex;
  align-items: center;
  color: #858585;
}

.main_header nav a div img {
  width: 2rem;
  height: 2rem;
}

.notcolored {
  filter: invert(52%) sepia(0%) saturate(0%) hue-rotate(94deg) brightness(101%);
}

.colored {
  filter: brightness(0) saturate(100%) invert(94%) sepia(51%) saturate(5839%)
    hue-rotate(85deg) brightness(99%) contrast(104%);
}

.main_header nav a div h1 {
  color: #838383;
  font-size: 2.2rem;
  margin-left: 0.5rem;
  transform: translateY(3px);
  /*font-family: "Princess Sofia", serif;*/
  /*font-family: "Sue Ellen Francisco", serif;*/
  font-family: "Mansalva", serif;
  /* font-family: "Gamja Flower", serif; */
  font-weight: 400;
}

/* Main Section Styling */
main {
  display: flex;
  flex-grow: 1;
}

/* Mixer Section */
.mixer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.mixer header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(17, 16, 22);
  padding-block: 1rem;
}

.mixer header h2 {
  font-size: 1.25rem;
  color: rgb(133, 133, 133);
}

.mixer header p {
  font-size: 0.75rem;
  color: rgb(134, 134, 134);
}

.sounds_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0rem;
  background-color: rgb(17, 16, 22);
  flex-grow: 1;
  height: 100%;
}

.sound {
  width: 100%;
  background-color: rgb(28, 31, 39);
  padding: 1rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}

.sound .img_div {
  width: 100%;
  height: 5.5rem;
}

.sound div img {
  width: 100%;
  height: 5.5rem;
  object-fit: cover;
  border-radius: 0.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  object-position: 50% 15%; /* Adjust horizontally and vertically */ /* Adjusts the visible area of the image */
}

.sound p {
  font-size: 0.75rem;
  font-weight: 600;
  color: #c4c4c4;
  padding: 0.5rem;
  text-align: center;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.sound > p {
  background-color: black;
  width: 100%;
}

.sound_options {
}

.sound_options .volume,
.sound_options .direction,
.sound_options .reverb,
.sound_options .more,
.sound_options .repeat {
  border-radius: 0.25rem;
  background-color: #965a00;
  height: 1.5rem;
  position: relative;
  margin-top: 1rem;
}

.sound_options .reverb {
  background-color: #005c40;
  margin-bottom: 0;
}

.sound_options .direction {
  background-color: #5e5e5e;
  margin-bottom: 0;
}

.sound_options .repeat {
  background-color: #5e5e5e;
  height: 2.5rem;
}

.sound_options .more {
  background-color: #5e5e5e;
  margin-top: 1rem;
}

.sound_options .volume .fillbar,
.sound_options .direction .fillbar,
.sound_options .more .fillbar,
.sound_options .reverb .fillbar {
  width: 50%;
  height: 100%;
  background-color: #ffd35c;
  border-radius: 0.25rem;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
}

.sound_options .reverb .fillbar {
  width: 30%;
  background-color: #00c090;
}

.sound_options .direction .fillbar {
  width: 1.5rem;
  background-color: rgb(211, 211, 211);
  border-bottom: solid 2px rgb(143, 143, 143);
  border-radius: 0.25rem;
  margin-left: 3.25rem;
}

.sound_options .more .fillbar {
  width: 100%;
  background-color: rgb(180, 180, 180);
  /*border-bottom: solid 2px rgb(143, 143, 143);*/
  border-radius: 0.25rem;
}

.sound_options p {
  font-size: 0.75rem;
  font-weight: 600;
  text-align: left;
  color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.sound_options .more p {
  left: 3.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  top: -0.25rem;
  color: rgb(71, 71, 71);
}

.sound_options .repeat_time {
  display: flex;
  justify-content: space-between;
}

.sound_options .repeat_time .time,
.sound_options .repeat_time .to_time {
  font-size: 1rem;
  color: #333;
}

/* Functionalities Section */
.functionalities {
  background-color: rgb(23, 23, 29);
  min-width: 20rem;
}

.functionalities header {
  display: flex;
}

.functionalities header p {
  font-size: 1rem;
  color: #c0c0c0;

  padding-inline: 1rem;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding-block: 1rem;
  font-weight: 600;
}

.functionalities .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.functionalities .form p {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #949494;
  padding: 0.5rem;
  width: calc(100% - 2rem);
  margin-inline: 1rem;
  background-color: white;
  font-weight: 500;
  border-radius: 2px;
}

.functionalities .form div {
  padding: 0.5rem;
  background-color: #00b395;
  border-bottom: solid 0.25rem rgb(0, 126, 111);
  color: #ffffff;
  text-align: center;
  width: calc(100% - 2rem);
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: 600;
}

/* Hover Effects */

.functionalities header p:hover {
  text-decoration: underline;
}

.functionalities .form div:hover {
  background-color: #0056b3;
}
